!!!
%html
  %head
    %title Frontend Dashboard
    %link{:rel => 'stylesheet', :href => '/javascripts/components/bootstrap.css/css/bootstrap.css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/styles.css'}
  %body
    %div.container
      =yield
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/components/bootstrap.css/js/bootstrap.js'}