- if !params[:file].nil? || !params[:message].nil?
  %h2= (params[:file] ? 'File: ' : 'Message: ')  + (params[:file] || params[:message])

%ul.unstyled
  - errors.each do |error|
    %li 
      %strong.occurrence-count= error.occurrences + ':'
      %a{:href => '?' + ((params[:by] === 'file' || !params[:message].nil?) ? 'file' : 'message') + '=' + URI.encode(error.by)}= error.by