- if !where_param.nil?
  %h2.occurrences-header= (where_param) + ': ' + (where_value)

%ul.unstyled
  - errors.each do |count, value|
    %li 
      %strong.occurrence-count= count.to_s + ':'
      %a{:href => '?' + ((params[:by] === 'file' || !params[:message].nil?) ? 'file' : 'message') + '=' + URI.encode(value)}= value