%form.form-inline#controls
  %legend Controls
  %label.radio
    %input{:type => 'radio', :name => 'show', :value => 'browser', :checked => 'checked'} Browsers
  %label.radio
    %input{:type => 'radio', :name => 'show', :value => 'os'} OSes
  %label.radio
    %input{:type => 'radio', :name => 'show', :value => 'device'} Devices
  %label.checkbox
    %input{:type => 'checkbox', :name => 'top-five', :value => 1} Top 5

%svg#chart
%script
  var errors = [
  - errors.each do |error|
    {time: '#{error['timestamp']}', os: '#{error['ua_os']}', browser: '#{error['ua_name']}', device: '#{error['ua_device']}' },
  ];
%script{:src => '/javascripts/bootstraps/user-agents.js'}