%div.navbar
  %div.navbar-inner
    %a.brand{:href => '#'} Errors
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#', :role => 'button'} Direction
        %ul.dropdown-menu{:role => 'menu'}
          %li 
            %a{:href => 'yesterday?dir=asc'} Ascending
          %li 
            %a{:href => 'yesterday?dir=dsc'} Descending

%ul
  - error_msgs.each do |time, msg, url, ua| 
    %li <strong>#{time.strftime('%H:%M:%S')}:</strong> #{msg}