%ul
  - errors.each do |error|
    %li 
      %h3= error.timestamp.strftime('%a %-d, %T')
      %dl
        %dt Message: 
        %dd
          %a{:href => '/occurrences?message=' + URI.encode(error.message)}= error.message
        %dt File: 
        %dd
          %a{:href => '/occurrences?file=' + URI.encode(error.file)}= error.file