.occurrence-count {
    font-size:1.5em;
    color:#0088cc;
}

.axis path,
.axis line{
    stroke:black;
    fill:none;
    shape-rendering:crispEdges;
}

.layer,
.key {
    opacity:0;
    -webkit-transition:opacity 0.5s;
}

#key rect{
    stroke-width:2px;
    stroke:black;
}