.occurrence-count {
    font-size:1.5em;
    color:#0088cc;
}

.axis path{
    stroke:black;
    fill:none;
    shape-rendering:crispEdges;
}

.layer {
    opacity:1;
    -webkit-transition:opacity 0.5s;
}

#key rect{
    stroke-width:2px;
    stroke:black;
}