@(metaData: MetaData, switches: Seq[com.gu.management.Switchable])(head: Html)(body: Html)(implicit request: RequestHeader)
<!doctype html>
<html class="js-off">
<head>
    <title>@metaData.webTitle</title>
    @fragments.metaData(metaData)
    @fragments.commonCssSetup()
    <script>
            // we want this to happen ASAP to avoid FOUC
            document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/g, '') + ' js-on ';
            function hasSvgSupport() {
                var ns = {'svg': 'http://www.w3.org/2000/svg'};
                return !!document.createElementNS && !!document.createElementNS(ns.svg, 'svg').createSVGRect;
            }
            if(hasSvgSupport()) {
                document.documentElement.className += " svg";
            }
    </script>

    @head

</head>
<body id="top" class="zone-@metaData.section" itemscope itemtype="http://schema.org/WebPage">

    <div id="container">
        @fragments.adSlot(id="top-banner-ad", baseSlot="Top2", medianSlot="Top", extendedSlot="x54")
        @fragments.navigation(metaData, isFooter=false)
        @body
        @fragments.adSlot(id="bottom-banner-ad", baseSlot="Bottom2", medianSlot="Bottom", extendedSlot="x54")
        @fragments.navigation(metaData, isFooter=true)
        @fragments.footer(metaData)
    </div>
    @fragments.commonJavaScriptSetup(metaData, "app", switches)
    @fragments.analytics(metaData)
</body>
</html>
